@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Comfortaa:wght@300..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Gothic+A1&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Gothic+A1&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik+Doodle+Shadow&display=swap");
@import "tailwindcss";

@theme {
  --default-font-family: "Comfortaa";
}

@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-neutral: #fdfbf7;
  --color-neutral-content: #000;
  --color-primary: #ffb7c5;
  --color-primary-content: #242424;
  --color-secondary: #98ded9;
  --color-secondary-content: #242424;
  --color-accent: #ffd97d;
  --color-accent-content: #242424;
  --color-base: #000;
  --color-base-content: #242424;
}

@keyframes floatSlow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(-1deg);
  }
}
.float-slow {
  animation: floatSlow 6s ease-in-out infinite;
}
.wiggle {
  animation: wiggle 2.8s ease-in-out infinite;
}
.font-comic {
  font-family: "Baloo 2", "cursive";
}

.prose h1,
.prose h2,
.prose h3,
.prose p,
.prose ul,
.prose ol,
.prose pre {
  margin: 0 0 2rem;
}

.prose [class*="blue-50"] p {
  margin: 0 !important;
}